
@inject ServicioLogin servicioLogin
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-container">        
        <div class="top-row">
            @if (servicioLogin.EstaLogueado)
            {
                <span>Usuario: @servicioLogin.NombreUsuario</span>
                <a href="" @onclick="CerrarSesion">Cerrar Sesión</a>
            }
            else
            {
                <a href="/login">Iniciar Sesión</a>
            }

        </div>

        <article>
             @Body
        </article> <!--se agrega condicion para que el home tome toda la imagen-->
           
       
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code{
    private void CerrarSesion()
    {
        servicioLogin.CerrarSesion();
        NavigationManager.NavigateTo("/");
    }
}