@page "/gestor"
@attribute [StreamRendering]

<PageTitle>Menu Gestión</PageTitle>

<h1>Gestor de Usuarios</h1>

<p>Este componente es provisorio. Su finalidad es realizar pruebas preliminares</p>

@if (idAdmin != 1)
{
    <table class="table">
        <thead>
            <tr>
                <th>Usuarios</th>
                <th>Personas</th>
                <th>Eventos Deportivos</th>
                <th>Reservas</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <th><button class="btn btn-primary" @onclick="ListarU">Listar Usuario</button></th>
                <th><button class="btn btn-primary" @onclick="ListarP">Listar Persona</button></th>
                <th><button class="btn btn-primary" @onclick="ListarE">Listar Evento</button></th>
                <th><button class="btn btn-primary" @onclick="ListarR">Listar Reserva</button></th>
           </tr>
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Usuarios</th>
                <th>Personas</th>
                <th>Eventos Deportivos</th>
                <th>Reservas</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <th><button class="btn btn-primary" @onclick="AgregarU">Agregar Usuario</button></th>
                <th><button class="btn btn-primary" @onclick="AgregarP">Agregar Persona</button></th>
                <th><button class="btn btn-primary" @onclick="AgregarE">Agregar Evento</button></th>
                <th><button class="btn btn-primary" @onclick="AgregarR">Agregar Reserva</button></th>
           </tr>
            <tr>
                <th><button class="btn btn-primary" @onclick="EliminarU">Eliminar Usuario</button></th>
                <th><button class="btn btn-primary" @onclick="EliminarP">Eliminar Persona</button></th>
                <th><button class="btn btn-primary" @onclick="EliminarE">Eliminar Evento</button></th>
                <th><button class="btn btn-primary" @onclick="EliminarR">Eliminar Reserva</button></th>
           </tr>
           <tr>
                <th><button class="btn btn-primary" @onclick="ModificarU">Modificar Usuario</button></th>
                <th><button class="btn btn-primary" @onclick="ModificarP">Modificar Persona</button></th>
                <th><button class="btn btn-primary" @onclick="ModificarE">Modificar Evento</button></th>
                <th><button class="btn btn-primary" @onclick="ModificarR">Modificar Reserva</button></th>
           </tr>
           <tr>
                <th><button class="btn btn-primary" @onclick="ListarU">Listar Usuario</button></th>
                <th><button class="btn btn-primary" @onclick="ListarP">Listar Persona</button></th>
                <th><button class="btn btn-primary" @onclick="ListarE">Listar Evento</button></th>
                <th><button class="btn btn-primary" @onclick="ListarR">Listar Reserva</button></th>
           </tr>
        </tbody>
    </table>
}

@code {
    private int idAdmin;
    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);
        idAdmin = 1;
    }
    private void AgregarU()
    {
        //Llamar al caso de uso correspondiente
    }
    private void AgregarP()
    {
        //Llamar al caso de uso correspondiente
    }
    private void AgregarE()
    {
        //Llamar al caso de uso correspondiente
    }
    private void AgregarR()
    {
        //Llamar al caso de uso correspondiente
    }

    private void EliminarU()
    {
        //Llamar al caso de uso correspondiente
    }
    private void EliminarP()
    {
        //Llamar al caso de uso correspondiente
    }
    private void EliminarE()
    {
        //Llamar al caso de uso correspondiente
    }
    private void EliminarR()
    {
        //Llamar al caso de uso correspondiente
    }

    private void ModificarU()
    {
        //Llamar al caso de uso correspondiente
    }
    private void ModificarP()
    {
        //Llamar al caso de uso correspondiente
    }
    private void ModificarE()
    {
        //Llamar al caso de uso correspondiente
    }
    private void ModificarR()
    {
        //Llamar al caso de uso correspondiente
    }
    
    private void ListarU()
    {
        //Llamar al caso de uso correspondiente
    }
    private void ListarP()
    {
        //Llamar al caso de uso correspondiente
    }
    private void ListarE()
    {
        //Llamar al caso de uso correspondiente
    }
    private void ListarR()
    {
        //Llamar al caso de uso correspondiente
    }

}
