@page "/"
@rendermode InteractiveServer
@inject ServicioLogin servicioLogin


<h1>Centro Deportivo Universitario</h1>
@if(ok){
    <div class="container-fluid justify-content-center align-items-center min-vh-100 p-5" style="max-width: 900px;">
    <div class="text-center border p-4 rounded shadow-sm bg-light" >
        <div class="mb-3">
            <input placeholder="Email" @bind="_Email" class="form-control w-70 mb-2">
            <input placeholder="Contraseña" @bind="_Contraseña" class="form-control w-70 mb-2">
        </div>
        <button class="btn btn-outline-info mb-2" @onclick="()=>InicioSesion(_Email,_Contraseña)">Iniciar Sesion</button>
    </div>
        <!-- #registar  -->
    </div>
}else{
    <div div class="container-fluid justify-content-center align-items-center min-vh-100 p-5" style="max-width: 900px;">
        <div class="text-center border p-4 rounded shadow-sm bg-light" >
            <div class="mb-3">
                <input placeholder="Nombre" @bind="_usuarioAct.Nombre" class="form-control w-70 mb-2 ">
                <input placeholder="Apellido" @bind="_usuarioAct.Apellido" class="form-control w-70 mb-2">
                <input placeholder="Email" @bind="_usuarioAct.Email" class="form-control w-70 mb-2">
                <input placeholder="Contraseña" @bind="_usuarioAct.Contraseña" class="form-control w-70 mb-2">
            </div>
        </div>
    </div>
}

<button class="btn btn-outline-primary" @onclick="()=>RegistarUsuario()"> Registarse</button>

@code{
    Usuario _usuarioAct=null!;
    string _Email= string.Empty;
    string _Contraseña = string.Empty;

    bool ok=true;
    public void InicioSesion(string email, string contraseña){
        

        _usuarioAct= servicioLogin.RecuperarUsuario(email,contraseña);
        
    }
    public void RegistarUsuario(){
        ok=false;
    }
}   