@page "/"

<h1>Centro Deportivo Universitario</h1>
<button class="btn btn-primary" @onclick="()=>InicioSesion()">Iniciar Sesion</button>
<button class="btn btn-primary" @onclick="()=>RegistarUsuario()"> Registarse</button>

@code{
    public void InicioSesion(){
        
    }
    public void RegistarUsuario(){

    }
}